.proj3_main{
    width: 100%;
    height: 300vh;
}

.proj3_cont{
    width: 100%;
    height: 90%;
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.proj3_title{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}

.proj3_box{
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.proj3_box_img{
    border: 3px solid black;
    border-radius: 15px;
    width: 40%;
    height: 70%;
    transition: all 0.8s ease-in-out;
}

.proj3_box_img:hover{
    transform: scale(1.3);
    box-shadow: 0px 0px 5px 5px white;
}

.proj3_img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}


@media (max-width:768px) {

     .proj3_main{
        height: 300vh;
     }

     .proj3_cont{
        position: relative;
        gap: 100px;
        flex-direction: column;
        height: 90%;
    }


    .proj3_title{
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
}

.proj3_box{
    flex-direction: column;
    height: 40%;
    position: relative;
    gap: 10px;
    width: 90%;
}

.proj3_box_img{
    height: 30%;
    width: 100%;
}


.proj3_box_img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 5px white;
}
}


@media (min-width:767px) and  (max-width:1400px) {
     .proj3_main{
        height: 500vh;
    }

    .proj3_cont{
        position: relative;
        gap: 0px;
        flex-direction: column;
        height: 90%;
    }




    .proj3_title{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}

.proj3_box{
    flex-direction: column;
    height: auto;
    position: relative;
    gap: 300px;
}

.proj3_box_img{
    height: 70%;
    width: 100%;
}


.proj3_box_img:hover{
    transform: scale(1.3);
    box-shadow: 0px 0px 5px 5px white;
}
}